In [2]:
import pandas as pd
import itertools
import random

In [35]:
data_file = "ques_data.xlsx"    # Question Datafile name
output_file = "output.xlsx"     # Output file name

In [38]:
def read_data(file):
    """
        This function reads sheets in the excel file and collects the Question Data and Roll Numbers

        Parameters:
        ----------
        file -> Question Data file name

        Returns:
        -------
        df      -> Question Dataframe from 1st sheet
        roll_df -> Roll No. Dataframe from 2nd sheet
        
    """

    data = pd.read_excel(file,sheet_name=None)
    sheet = list(data.keys())
    col1 = data[sheet[0]].columns.to_list()[0]
    df = data[sheet[0]].astype({col1:"string"})
    roll_df = data[sheet[1]]
    
    return df,roll_df

def extract_ques(table):
    """
        This function Extracts All the Questions from the "table" dataframe and creates a list "q_list"
        
        Parameters:
        ----------
        table   -> A dataframe containing "Year" in the first column and "Course Code" in the rest of the columns
        q_list  -> A list of strings having the questions in the format of "CourseCode-Year-(Ques.No.)"

        Returns:
        -------
        q_list  -> List of Questions
        
    """
    q_list = []
    y = table.columns.to_list()[0]                                      # Year Column or First Column
    crs = table.columns.to_list()[1:]                                   # Rest of the columns containing the course no.
    r = len(table.index)
    for c in crs:                            
        for i in range(r): 
            yr = table.loc[i,y]                                         # Each Year
            qs_n = table.loc[i,c]                                       # No. of Questions
            q_no = [str(j) for j in range(1,qs_n+1)]                    # Creates a string list of question no.
            lst_per = list(itertools.product(*[[c],[yr],q_no]))         # List of all question in 'yr' year in 'c' Course
            for k in lst_per:
                crs_code,year,ques_no = k                                                
                q_list.append(crs_code+'-'+year+'-'+'('+ques_no+')') 
    
    return q_list

def random_dist(st_df,q_list):
    """
        This Function Distributes each questions of "q_list" to dataframe "st_df"
        * It creates new columns named Task1, Task2, ...
        * In each column it distrubutes questions randomly.
        * Each time this function is called the "st_df" will change randomly

        Parameters:
        ----------
        st_df   -> Dataframe containing students roll no.
        q_list  -> List of all questions generated from extract_ques() function
        
    """

    n = st_df.index.size
    ts = 1  # Task No.                                    
    while len(q_list):
        if len(q_list)<n:
            remain = n-len(q_list)
            for _ in range(remain):
                q_list.append('-')    
        sample = random.sample(q_list,n)
        for _ in range(n):
            random.shuffle(sample)
        st_df['Task'+str(ts)] = pd.Series(sample)
        ts = ts+1
        for q in sample:
            q_list.remove(q)
    
    return None

In [39]:
df, roll_df = read_data(data_file)

In [40]:
df  # Displaying the Question Data

      Year  MME213  MME235  EEE267  ME221
0  2018-19       8       8       8      8
1  2017-18      12       8       8      8
2  2016-17      12       8       8      8
3  2015-16      12       8       8      8
4  2014-15      12       8       8      8

In [41]:
roll_df.T # Displaying Roll Numbers of students

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
Roll No.,1,2,3,4,5,6,7,8,9,10,...,51,52,53,54,55,56,57,58,59,60

In [43]:
ques_list = extract_ques(df)
random_dist(roll_df,ques_list)
roll_df.to_excel(output_file,index=False)       # Saves the "roll_df" dataframe to output file
roll_df                                         # Dislpaying the distribution data

    Roll No.                Task1                Task2                Task3
0          1    ME221-2016-17-(2)   MME213-2014-15-(5)    ME221-2018-19-(3)
1          2   MME213-2015-16-(9)   MME235-2017-18-(4)   EEE267-2015-16-(6)
2          3   MME235-2017-18-(7)   EEE267-2016-17-(3)                    -
3          4    ME221-2015-16-(8)   MME235-2016-17-(6)    ME221-2015-16-(2)
4          5   EEE267-2018-19-(3)   MME235-2018-19-(1)   MME213-2015-16-(8)
5          6  MME213-2015-16-(10)   MME213-2018-19-(8)    ME221-2016-17-(3)
6          7    ME221-2017-18-(8)    ME221-2014-15-(1)   MME213-2017-18-(2)
7          8   MME235-2018-19-(8)   MME235-2018-19-(2)   MME235-2014-15-(5)
8          9  MME213-2015-16-(11)   EEE267-2014-15-(2)   EEE267-2015-16-(3)
9         10    ME221-2017-18-(2)   MME213-2018-19-(2)    ME221-2014-15-(2)
10        11   MME235-2014-15-(7)    ME221-2014-15-(5)    ME221-2015-16-(6)
11        12    ME221-2017-18-(1)   EEE267-2018-19-(7)   EEE267-2018-19-(8)
12        13   MME213-2014-15-(8)   EEE267-2014-15-(5)   MME235-2015-16-(8)
13        14  MME213-2016-17-(11)   MME235-2016-17-(2)    ME221-2016-17-(1)
14        15   EEE267-2016-17-(6)   EEE267-2016-17-(5)    ME221-2017-18-(7)
15        16   EEE267-2014-15-(1)   MME235-2017-18-(6)   MME213-2016-17-(1)
16        17   MME235-2017-18-(3)   MME213-2014-15-(9)    ME221-2015-16-(4)
17        18    ME221-2017-18-(4)   MME213-2018-19-(3)   MME213-2016-17-(2)
18        19   MME235-2015-16-(7)   MME235-2014-15-(4)   MME235-2016-17-(8)
19        20   MME213-2015-16-(7)   MME213-2014-15-(7)   MME235-2015-16-(5)
20        21    ME221-2018-19-(7)  MME213-2017-18-(10)   EEE267-2016-17-(8)
21        22   EEE267-2017-18-(4)   EEE267-2016-17-(7)   EEE267-2014-15-(6)
22        23   MME235-2015-16-(1)   MME213-2017-18-(9)   EEE267-2015-16-(8)
23        24   MME213-2017-18-(3)   MME213-2016-17-(9)   MME235-2015-16-(3)
24        25   MME235-2018-19-(7)   EEE267-2017-18-(5)   MME235-2016-17-(7)
25        26   MME235-2016-17-(3)   EEE267-2018-19-(4)    ME221-2017-18-(5)
26        27    ME221-2016-17-(7)   MME213-2015-16-(1)   EEE267-2017-18-(3)
27        28   MME235-2017-18-(8)   EEE267-2014-15-(3)  MME213-2015-16-(12)
28        29   EEE267-2017-18-(7)    ME221-2018-19-(8)   EEE267-2018-19-(2)
29        30   MME213-2014-15-(3)    ME221-2015-16-(3)   MME235-2016-17-(5)
30        31   MME213-2015-16-(5)   MME213-2018-19-(5)   EEE267-2018-19-(1)
31        32  MME213-2014-15-(12)   MME235-2018-19-(5)   MME213-2014-15-(2)
32        33   MME213-2018-19-(1)    ME221-2014-15-(7)   MME235-2016-17-(4)
33        34   MME213-2018-19-(7)    ME221-2015-16-(7)  MME213-2014-15-(10)
34        35    ME221-2018-19-(6)   EEE267-2015-16-(4)   MME213-2016-17-(6)
35        36   EEE267-2017-18-(6)   MME213-2017-18-(4)   EEE267-2015-16-(2)
36        37   MME235-2017-18-(2)  MME213-2017-18-(11)   MME235-2015-16-(6)
37        38   EEE267-2017-18-(2)  MME213-2014-15-(11)   MME235-2015-16-(4)
38        39    ME221-2014-15-(4)   EEE267-2017-18-(1)    ME221-2015-16-(1)
39        40   MME235-2018-19-(6)   MME235-2014-15-(8)   MME213-2015-16-(6)
40        41   EEE267-2018-19-(6)    ME221-2015-16-(5)    ME221-2016-17-(5)
41        42   MME235-2014-15-(1)   MME213-2016-17-(4)    ME221-2014-15-(3)
42        43    ME221-2016-17-(4)    ME221-2017-18-(3)   MME213-2016-17-(5)
43        44   MME213-2014-15-(6)    ME221-2018-19-(5)    ME221-2018-19-(4)
44        45   MME213-2014-15-(1)   EEE267-2017-18-(8)  MME213-2017-18-(12)
45        46    ME221-2018-19-(2)   MME213-2017-18-(8)   EEE267-2016-17-(2)
46        47   MME213-2015-16-(3)   MME213-2016-17-(8)   EEE267-2016-17-(4)
47        48   EEE267-2015-16-(1)   MME213-2017-18-(6)   MME235-2014-15-(2)
48        49   MME213-2017-18-(5)   EEE267-2015-16-(5)                    -
49        50   EEE267-2014-15-(7)   MME213-2016-17-(3)  MME213-2016-17-(10)
50        51   MME235-2017-18-(5)   MME213-2018-19-(4)   MME235-2018-19-(4)
51        52   MME213-2017-18-(1)    ME221-2018-19-(1)                    -
52        53   MME235-2018-19-(3)   MME235-2014-15-(6)   EEE267-2014-15-(4)
53        54    ME221-2017-18-(6)   MME235-2016-17-(1)                    -
54        55   EEE267-2014-15-(8)    ME221-2016-17-(6)   MME235-2015-16-(2)
55        56   MME235-2014-15-(3)   MME213-2018-19-(6)   MME213-2016-17-(7)
56        57   EEE267-2018-19-(5)   MME213-2014-15-(4)    ME221-2016-17-(8)
57        58  MME213-2016-17-(12)   EEE267-2015-16-(7)   MME213-2015-16-(2)
58        59    ME221-2014-15-(6)   MME213-2017-18-(7)   EEE267-2016-17-(1)
59        60   MME213-2015-16-(4)    ME221-2014-15-(8)   MME235-2017-18-(1)